/* Oswald */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
*{
    font-family: "Oswald", sans-serif;
}


 .clip-path-right {
        clip-path: inset(0 0 0 60%); 
    }
 .clip-path-right-ex {
        clip-path: inset(0 0 0 70%); 
    }